In [1]:
import pyodbc
import pandas as pd
import os
import vk as vk_lib
import pandas as pd
from time import sleep
import sys
from dotmap import DotMap

from requests import get
from bs4 import BeautifulSoup
import lxml
from IPython.display import HTML, display
from json import load
# from bottle import route
from urllib.parse import urlparse
from urllib.parse import unquote
from collections import OrderedDict
import copy
import json
import vk as vk_lib
import pandas as pd
from time import sleep
import numpy as np
import json
from dotmap import DotMap
import hashlib
import urllib.parse

from PIL import Image
from scipy import misc
import requests

from urllib.parse import quote

from datetime import date
from IPython.display import clear_output
import os
import sys

##Connection settings
cnxn = pyodbc.connect(u"Driver={ODBC Driver 13 for SQL Server};"
                      u"Server=rumskgsh7nz1\sqldev;"
                      u"Database=RadarSN;"
                      "Trusted_Connection=yes")
#ProjectId = input("What's project's number or (id)? ")
#print("OK: " + ProjectId )


#sql = "select * from TblPersonToSearch where statusid='0' and projectid=('%s')" %(ProjectId)
#df = pd.read_sql(sql, cnxn)
#df.head()

# OK connection's params

In [22]:
def GetAdditionalInfoFromWeb(url):
    req = get(url)
    soup = BeautifulSoup(req.text, "lxml")
    
    info_additional = {}
    
    for h in soup.findAll('li', attrs={'class' : 'link link_outer_yes link_theme_outer path__item i-bem link_js_inited'}):
        for h_ in h.findAll('a'):
            key = h_.find('i')['title']
            value = h_.find('span')['title']

            number = 0
            while key in info_additional.keys():
                key = key + str(number)
                number += 1

            info_additional[key] = value
    return info_additional

In [31]:
url='https://yandex.ru/people?text=%D0%B8%D0%B2%D0%B0%D0%BD%D0%BE%20%D0%B8%D0%B2%D0%B0%D0%BD&lr=213'
GetAdditionalInfoFromWeb(url)

{}

In [60]:

url='https://yandex.ru/people?text=%D0%BC%D0%B0%D0%B4%D0%B8%D1%8F%D1%80%20%D1%85%D0%B0%D0%BC%D0%B7%D0%B0%D0%BD%D0%BE%D0%B2&lr=213'
req = get(url)
soup = BeautifulSoup(req.text, "lxml")
#a = soup.findAll(attrs={'class' : 'link link_theme_normal organic__url link_cropped_no i-bem'})
#a.findAll('li', attrs={'href'})
#for i in a.find_all('a', href=True):
#    print ("Found the URL:", i['href'])
qwe = soup.findAll('a', {'class': 'link link_theme_normal organic__url link_cropped_no i-bem'})
type(qwe)

bs4.element.ResultSet

In [66]:
maxx = [link['href'] for link in soup.findAll("a", {"class": "link link_theme_normal organic__url link_cropped_no i-bem"})]
maxx

['//vk.com/id215762574',
 '//ru.linkedin.com/in/%D0%BC%D0%B0%D0%B4%D0%B8%D1%8F%D1%80-%D1%85%D0%B0%D0%BC%D0%B7%D0%B0%D0%BD%D0%BE%D0%B2-8bb99411b',
 '//vk.com/id280675708',
 '//ru-ru.facebook.com/people/%D0%9C%D0%B0%D0%B4%D0%B8%D1%8F%D1%80-%D0%A5%D0%B0%D0%BC%D0%B7%D0%B0%D0%BD%D0%BE%D0%B2/100002032185337']

In [16]:
import odnoklassniki
from odnoklassniki.api import Odnoklassniki, OdnoklassnikiError
client_key='CBAJINDMEBABABABA'
client_secret = '7EE29841DCB4DA70B6A79829'
access_token = 'tkn14tK67W6VW5Dc4eApXmrLvZertcZjRjRqH6m7fyyaeP6bWB2oAJ1JnQiVpxk5ZCNK6'
ok = odnoklassniki.Odnoklassniki(client_key, 
                                 client_secret, access_token)

In [18]:
#ok.group.getInfo(uids='12312312', fields='members_count')
print (ok.group.getInfo(uids='your_group_id', fields='members_count'))

In [13]:
ok = DotMap()

ok.OAuthOK = { 
    'APP_ID': 1262258176, #ID приложения 
    'APP_PUBLIC': 'CBAJINDMEBABABABA', #Публичный ключ 
    'APP_SECRET': '7EE29841DCB4DA70B6A79829', #Защищенный ключ 
    'URL_CALLBACK': 'http://example.com/oauth/ok.php', #URL, на который произойдет перенаправление после авторизации 
}

ok.clientId = '575308085656'
ok.scope = 'VALUABLE_ACCESS;'
ok.response_type = 'token'
# ok.redirectUri = 'https://api.ok.ru/blank.html'
ok.redirectUri = 'https://apiok.ru/oauth_callback'

ok.format = 'json'

#access_token = 'tkn14tK67W6VW5Dc4eApXmrLvZertcZjRjRqH6m7fyyaeP6bWB2oAJ1JnQiVpxk5ZCNK6'
#secret_session_key = 'd8bb3ce0180482c9373f26673dc15dbd'

In [14]:
ok.get_user_names

DotMap()

In [15]:
fullname = ok.get_user_names(fullname='asdasd')

TypeError: 'DotMap' object is not callable

In [6]:
def MakeOAuthOk(ok, auto=False):
    ok.access_info = ''
    ok.access_info = ''
    if auto == False:
        ok.get_access = '''https://connect.ok.ru/oauth/authorize?
client_id={}
&scope={}
&response_type={}
&redirect_uri={}
'''.format(ok.OAuthOK['APP_ID'], ok.scope, ok.response_type, ok.redirectUri)
        ok.get_access = ok.get_access.replace('\n', '')
    
        print('Follow the link below:')
        with open('../OK_connecting_link.txt', 'w') as f:
            f.write(ok.get_access)
        print(ok.get_access, '\n')

        print('Copy the result url link from your browser or type \'Enter\':')
        ok.access_info = input()
        
    if ok.access_info == '':
        if 'OK_response_link.txt' not in os.listdir('..'):
            sys.exit('OK response link has not found')
        else:
            with open('../OK_response_link.txt', 'r') as f:
                ok.access_info += f.read()
    else:
         with open('../OK_response_link.txt', 'w') as f:
                f.write(ok.access_info)
    try:
        ok.access_info = ok.access_info[ok.access_info.find('#')+1:]
        ok.access_info = '{\"' + ok.access_info.replace('&', '\", \"').replace('=', '\" : \"') + '\"}'
        ok.access_info = json.loads(ok.access_info)
    except:
        print('MakeOAuthOk: something went wrong please try again')
        return False
    
    if auto == False:
        print('Access Info:')
        print(ok.access_info)
    return True
    
    
def GetMD5(text): #sig
    return hashlib.md5(text.encode('utf-8')).hexdigest()

# method = 'users.getCurrentUser'

In [9]:
self.get_user_names

NameError: name 'self' is not defined

In [7]:
def OK_GetRelativesV2(uid):
    method = 'friends.getRelativesV2'
    uid = uid
    reltypes = 'ALL'
    method_kwargs = {'uid': uid, 'reltypes':reltypes}
    url = MakeRequestURL(method, **method_kwargs)
    req = get(url)
    answer = json.loads(req.text)
    return answer


def GetFriendsListID(uid):
    method = 'friends.get'
    fid = uid
    method_kwargs = {'fid': fid}
    url = MakeRequestURL(method, **method_kwargs)
    req = get(url)
    answer = json.loads(req.text)
    return answer

def URL2UID(url):
    method = 'url.getInfo'
    method_kwargs = {'url': url}
    url = MakeRequestURL(method, **method_kwargs)
    req = get(url)
    answer = json.loads(req.text)
    if answer['type'] == 'PROFILE':
        return str(answer['objectId'])
    else:
        print(answer['type'])
        return str(answer['objectId'])
    
def GetInfo(uids):
    method = 'users.getInfo'
    fields = ['AGE', 'BIRTHDAY', 'EMAIL', 'FIRST_NAME', 'GENDER', 'HAS_EMAIL',
             'LAST_NAME', 'LOCALE', 'LOCATION', 'NAME', 'ODKL_EMAIL', 
             'ODKL_LOGIN', 'RELATIONS', 'RELATIONSHIP', 'UID',
             'URL_PROFILE']
#     uids = '119904479500'
    method_kwargs = {'uids': uids, 'fields': fields}
    url = MakeRequestURL(method, **method_kwargs)
    req = get(url)
    answer = json.loads(req.text)
    try:
        yyyy, mm, dd = answer[0]['birthday'].split('-')
        answer[0]['birthday'] = dd + '.' + mm + '.' + yyyy
    except:
        try:
            mm, dd = answer[0]['birthday'].split('-')
            answer[0]['birthday'] = dd + '.' + mm
        except:
            pass
#             print('ERROR in Ok birthday')
    try:
        return answer[0]
    except:
        return answer

def GetBirthday(uids):
    method = 'users.getInfo'
    fields = ['AGE', 'BIRTHDAY']
#     uids = '119904479500'
    method_kwargs = {'uids': uids, 'fields': fields}
    url = MakeRequestURL(method, **method_kwargs)
    req = get(url)
    answer = json.loads(req.text)
    try:
        yyyy, mm, dd = answer[0]['birthday'].split('-')
        answer[0]['birthday'] = dd + '.' + mm + '.' + yyyy
    except:
        try:
            mm, dd = answer[0]['birthday'].split('-')
            answer[0]['birthday'] = dd + '.' + mm
        except:
            pass
#             print('ERROR in Ok birthday')
    try:
        return answer[0]['birthday']
    except:
        return None
    
def MakeRequestURL(method, ok=ok, **kwargs):
    request_ = DotMap()
    
    parameters = ['application_key={}'.format(ok.OAuthOK['APP_PUBLIC']),
                  'format={}'.format(ok.format),
                  'method={}'.format(method),
#                   '{}'.format(ok.access_info['session_secret_key']),
                 ]

    for key in kwargs.keys():
        if type(kwargs[key]) == list:
            s = key
            for el in kwargs[key]:
                if len(s) != len(key):
                    s += ', '
                else:
                    s += '='
                s += el
        else:
            s = key + '=' + kwargs[key]
        parameters.append(s)
        
    parameters.sort()
#     print(parameters)
    parameters_str = ''
    for el in parameters:
        parameters_str += el
    parameters_str += ok.access_info['session_secret_key']
    
    request_.sig = GetMD5(parameters_str)
    
#     print(parameters)
#     print()
#     print(parameters_str)
#     print()
#     print('sig: ', request_.sig)
    
    kwargs_str = ''
    for key in kwargs.keys():
        if key == 'url':
            url = urllib.parse.quote(kwargs[key], safe='')
            kwargs_str += '&' + key + '=' + url
        if type(kwargs[key]) == list:
            s = ''
            for el in kwargs[key]:
                if len(s) != 0:
                    s += ', '
                s += el
            kwargs_str += '&' + key + '=' + urllib.parse.quote(s, safe='')
        else:
            kwargs_str += '&' + key + '=' + kwargs[key]
    
    request_.request = '''https://api.ok.ru/fb.do?
application_key={}
&format={}
&method={}
{}
&sig={}
&access_token={}'''.format(
        ok.OAuthOK['APP_PUBLIC'],
        ok.format,
        method,
        kwargs_str,
        request_.sig,
        ok.access_info['access_token'] )
    
    request_.request = request_.request.replace('\n', '')
    
#     print(request_.request)
    return request_.request

In [8]:
def GetAdditionalInfoFromWeb(url):
    req = get(url)
    soup = BeautifulSoup(req.text, "lxml")
    
    info_additional = {}
    
    for h in soup.findAll('li', attrs={'class' : 'tico_ul_li tico_ul_li__ib-fix'}):
        for h_ in h.findAll('a'):
            key = h_.find('i')['title']
            value = h_.find('span')['title']

            number = 0
            while key in info_additional.keys():
                key = key + str(number)
                number += 1

            info_additional[key] = value
    return info_additional

def CombineAdditionalInfo(person):
    for key in person.ok_additional_info.keys():
        if  key == 'вуз':
            if person.universities == None:
                person.universities = ''
            person.universities = '(OK: вуз:' + person.ok_additional_info[key] + ')'
        if  key == 'школа':
            if person.schools == None:
                person.schools = ''
            person.schools += '(OK: школа:' + person.ok_additional_info[key] + ')'
        if  key == 'колледж':
            if person.universities == None:
                person.universities = ''
            person.universities += '(OK: колледж: ' + person.ok_additional_info[key] + ')'
        if  key == 'работа':
            if person.career == None:
                person.career = ''
            person.career += '(OK: работа:' + person.ok_additional_info[key] + ')'

In [4]:
def SearchPerson (name,bday,bmonth,byear):
    return vk.api.users.search(q=name,
                               fields=fields_list,
                               sort=0,
                               count=30,
                               birth_day=bday,
                              birth_month=bmonth,
                              birth_year=byear)

In [17]:
%%time
result = pd.DataFrame(columns=['index','PersonName','SearchResult'])
tmp_col = ['city', 'country', 'domain', 'faculty', 'faculty_name', 'first_name',
       'followers_count', 'graduation', 'has_mobile', 'home_town', 'last_name',
       'nickname', 'photo_50', 'sex', 'uid', 'universities', 'university',
       'university_name']
tmp = pd.DataFrame(columns = tmp_col)
df_fr_list_col = ['PersonName', 'PersonLink', 'FriendName', 'FriendLink']
df_frend_list = pd.DataFrame(columns = df_fr_list_col)

df = pd.read_sql(sql, cnxn)
limit = 30
step = 10
gen_sleep = 5

df = df.iloc[0:limit]

df_ind_range = list(range(0,df.shape[0],step))
df_ind_range.append(df.shape[0])
for i in range(0,len(df_ind_range)-1):
    print('iteration - ',i)
    
    for j in range(0,len(df.iloc[df_ind_range[i]:df_ind_range[i+1]])):
        #print(' iteration - ',j)
        df_tmp = df.iloc[df_ind_range[i]:df_ind_range[i+1]]
        a=[]
        a = SearchPerson(df_tmp.iloc[j]['FirstLastName'],
        df_tmp.iloc[j]['DayOfBirth'],
        df_tmp.iloc[j]['MonthOfBirth'],
        df_tmp.iloc[j]['YearOfMonth'])
        if len(a)>1:
            print (j, df_tmp.iloc[j]['FirstLastName'],"founded")
            #a3.set_value(i,'index',i)
            result.set_value(i*step+j,'PersonName',df_tmp.iloc[j]['FirstLastName'])
            result.set_value(i*step+j,'SearchResult',len(a)-1)
            for k in range(1,len(a)):
                
                tmp_a_k = pd.DataFrame([a[k]], columns=a[k].keys())
                tmp_a_k['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                tmp_a_k['Count'] = str(len(a)-1)
                
                tmp = tmp.append(tmp_a_k)
                q = pd.DataFrame([a[k]], columns=a[k].keys())['uid'][0]
                df_fr_list_tmp = vk.api.friends.get(user_id=str(int(q)), fields=['nickname'])
                df_fr_list_tmp = pd.DataFrame(df_fr_list_tmp)
                if df_fr_list_tmp.shape[0]>0:
                    #df_fr_list_tmp['FirstLastName'] = df_tmp['FirstLastName'].iloc[0]
                    df_fr_list_tmp['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                    df_fr_list_tmp['Count'] = str(len(a)-1)
                    df_fr_list_tmp['FirstLastNameInVk'] = pd.DataFrame([a[k]])['first_name'][0] + ' ' + pd.DataFrame([a[k]])['last_name'][0]
                    df_fr_list_tmp['PersonLink'] = 'vk.com/' + pd.DataFrame([a[k]])['domain'][0]
                    df_fr_list_tmp['FriendLink'] = df_fr_list_tmp['user_id']
                    df_fr_list_tmp['FriendName'] = df_fr_list_tmp['first_name'] + ' ' + df_fr_list_tmp['last_name']
                    df_fr_list_tmp = df_fr_list_tmp[['FirstLastName','Count','FirstLastNameInVk','PersonLink','FriendName','FriendLink']]
                    df_frend_list = df_frend_list.append(df_fr_list_tmp)
                else:
                    #df_fr_list_tmp['FirstLastName'] = df_tmp['FirstLastName'].iloc[0]
                    df_fr_list_tmp['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                    df_fr_list_tmp['Count'] = str(len(a)-1)
                    df_fr_list_tmp['FirstLastNameInVk'] = pd.DataFrame([a[k]])['first_name'][0] + ' ' + pd.DataFrame([a[k]])['last_name'][0]
                    df_fr_list_tmp['PersonLink'] = 'vk.com/' + pd.DataFrame([a[k]])['domain'][0]
                    df_fr_list_tmp['FriendLink'] = 'NO FRIEND'
                    df_fr_list_tmp['FriendName'] = 'NO FRIEND'
                    df_fr_list_tmp = df_fr_list_tmp[['FirstLastName','Count','FirstLastNameInVk','PersonLink','FriendName','FriendLink']]
                    df_frend_list = df_frend_list.append(df_fr_list_tmp)
                    
        else:
            print (j, df_tmp.iloc[j]['FirstLastName'],"can't find")
            result.set_value(i*step+j,'PersonName',df_tmp.iloc[j]['FirstLastName'])
            result.set_value(i*step+j,'SearchResult',len(a)-1)
        sleep(1.0)
    sleep(gen_sleep)

result = result[['PersonName','SearchResult']]
tmp_db = result.merge(df, left_on='PersonName', right_on = 'FirstLastName')

iteration -  0
0 Александр Солянов founded

C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:33: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:34: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

1 Екатерина Царенко founded
2 Александр Глушков founded
3 Александр Данилин founded
4 Александр Егоров founded
5 Анастасия Ковшар can't find

C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:68: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:69: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

6 Анастасия Арзина founded
7 Александр Волков founded
8 Александр Галеев founded
9 Александр Волков founded
iteration -  1
0 Валентина Кузик founded
1 Александр Някин can't find
2 Александр Сахно can't find
3 Станислав Рожко founded
4 Владислав Мак can't find
5 Елизавета Якк can't find
6 Александр Ни can't find
7 Гульсина Абдуллазянова can't find
8 Антонина Богоявленская can't find
9 Светлана Ромадановская can't find
iteration -  2
0 Айгузель Габдрахманова can't find
1 Кристина Бородовицина can't find
2 Гульнара Фархутдинова can't find
3 Гульнара Хайрутдинова founded
4 Гульсана Ишмухамедова founded
5 Кристина Нигматзянова founded
6 Ярослава Колесникова can't find
7 Виктория Спиридонова can't find
8 Светлана Ахмадуллина can't find
9 Искандер Камалтдинов founded
Wall time: 57.3 s

In [18]:
for i in range(0,len(tmp_db)):
    #print(tmp_db['SearchResult'].iloc[i])
    if tmp_db['SearchResult'].iloc[i]==1:
        tmp_sql = str("update TblPersonToSearch set StatusId='2' where FirstLastName= ") + str("'")+str(tmp_db.iloc[i]['PersonName'])+ str("'")
        cursor = cnxn.cursor()
        cursor.execute(tmp_sql)
        cnxn.commit()
    else:
        tmp_sql = str("update TblPersonToSearch set StatusId='1' where FirstLastName= ") + str("'")+str(tmp_db.iloc[i]['PersonName'])+ str("'")
        cursor = cnxn.cursor()
        cursor.execute(tmp_sql)
        cnxn.commit()

In [9]:
tmp['ProjectId'] = '%s' % ProjectId
df_frend_list['ProjectId'] = '%s' % ProjectId

In [10]:
%%time
for i in range(0,len(df_frend_list)):
    FirstLastName = str(df_frend_list['FirstLastName'].iloc[i])
    FirstLastNameInVk = str(df_frend_list['FirstLastNameInVk'].iloc[i])
    PersonLink = str(df_frend_list['PersonLink'].iloc[i])
    FriendName = (str(df_frend_list['FriendName'].iloc[i])).replace("'","")
    FriendLink = str(df_frend_list['FriendLink'].iloc[i])
    sql = "insert into dbo.tblFriendList ([ProjectId],[FirstLastName],[FirstLastNameInVk],[PersonLink],[FriendName],[FriendLink]) VALUES('%s','%s', '%s','%s', '%s', '%s')" % (ProjectId,FirstLastName, FirstLastNameInVk,PersonLink , FriendName, FriendLink)
    cursor.execute(sql)
    cnxn.commit()

Wall time: 6.2 s

In [11]:
sql

"insert into dbo.tblFriendList ([ProjectId],[FirstLastName],[FirstLastNameInVk],[PersonLink],[FriendName],[FriendLink]) VALUES('1','Екатерина Петрова', 'Катерина Петрова','vk.com/bloodyhellwhereismytea', 'Юлия Холод', '421720341')"

In [12]:
##tblGeneralInfoAboutFoudedPeople
#
for i in range(0,len(tmp)):
    FirstLastName = (str(tmp['FirstLastName'].iloc[i])).replace("'","")
    CountPeople = (str(tmp['Count'].iloc[i])).replace("'","")
    FirstLastNameInVk = (str(tmp['first_name'].iloc[i] + ' '+ tmp['last_name'].iloc[i])).replace("'","")
    BDate = (str(tmp['bdate'].iloc[i])).replace("'","")
    Sex = (str(tmp['sex'].iloc[i])).replace("'","")
    UniversityName = (str(tmp['university_name'].iloc[i])).replace("'","")
    EducationForm = (str(tmp['education_form'].iloc[i])).replace("'","")
    EducationStatus = (str(tmp['education_form'].iloc[i])).replace("'","")
    FacultyName = (str(tmp['faculty_name'].iloc[i])).replace("'","")
    FollowersCount = (str(tmp['followers_count'].iloc[i])).replace("'","")
    Graduation = (str(tmp['graduation'].iloc[i])).replace("'","")
    HomeTown = (str(tmp['home_town'].iloc[i])).replace("'","")
    UserId = (str(tmp['uid'].iloc[i])).replace("'","")
    sql = "insert into dbo.tblPersonGeneralInfo (ProjectId,FirstLastName,CountPeople,FirstLastNameInVk,BDate ,Sex ,UniversityName ,EducationForm ,EducationStatus ,FacultyName ,FollowersCount ,Graduation ,HomeTown ,UserId) VALUES('%s','%s','%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s')" % (ProjectId,FirstLastName,CountPeople,FirstLastNameInVk,BDate ,Sex ,UniversityName ,EducationForm ,EducationStatus ,FacultyName ,FollowersCount ,Graduation ,HomeTown ,UserId)
    cursor.execute(sql)
    cnxn.commit()

In [13]:
tmp

,Count,FirstLastName,bdate,city,country,domain,education_form,education_status,faculty,faculty_name,...,last_name,mobile_phone,nickname,photo_50,sex,uid,universities,university,university_name,ProjectId
0,2,Анастасия Зайцева,10.1,161,1,id136359185,Очное отделение,Студентка (бакалавр),2156819,Факультет строительства и экологии,...,Зайцева,,,https://pp.userapi.com/c638226/v638226185/2596...,1,136359185,"[{'id': 927, 'country': 1, 'city': 161, 'name'...",927,"ЗабГУ (ранее ЧитГУ, ЗабГГПУ)",1
0,2,Анастасия Зайцева,10.1.1995,0,0,id465244491,NaN,NaN,0,,...,Зайцева,,,https://pp.userapi.com/c841034/v841034083/5136...,1,465244491,[],0,,1
0,1,Маргарита Иванова,1.10.1965,0,0,id424136879,NaN,NaN,0,,...,Иванова,,,https://vk.com/images/camera_50.png,1,424136879,[],0,,1
0,1,Станислав Кабанов,NaN,60,1,id61707815,NaN,NaN,NaN,NaN,...,Кабанов,,,https://pp.userapi.com/c320528/v320528815/2887...,2,61707815,NaN,NaN,NaN,1
0,1,Анастасия Базуева,30.4,0,1,blacktothestars,NaN,NaN,NaN,NaN,...,Базуева,NaN,,https://pp.userapi.com/c824409/v824409300/7ef1...,1,26133311,NaN,NaN,NaN,1
0,1,Екатерина Петрова,NaN,0,1,bloodyhellwhereismytea,NaN,NaN,NaN,NaN,...,Петрова,NaN,,https://vk.com/images/camera_50.png,1,101645824,NaN,NaN,NaN,1

In [511]:
tmp

,bdate,city,country,domain,education_form,faculty,faculty_name,first_name,followers_count,graduation,has_mobile,home_phone,home_town,last_name,mobile_phone,nickname,photo_50,sex,uid,universities,university,university_name,ProjectId
0,12.5.1988,60,1,id74789085,NaN,NaN,NaN,Екатерина,35,NaN,1,,NaN,Зимнякова,,,https://pp.userapi.com/c628125/v628125085/4c92...,1,74789085,NaN,NaN,NaN,1
0,NaN,0,0,id364487801,NaN,0,,Викторина,36,0,1,,,Дегтярева,,,https://pp.userapi.com/c837523/v837523233/56a9...,1,364487801,[],0,,1
0,9.9,0,0,id325536425,NaN,NaN,NaN,Катя,7,NaN,1,NaN,NaN,Алексеева,NaN,,https://pp.userapi.com/c841622/v841622353/61c6...,1,325536425,NaN,NaN,NaN,1
0,9.9,1,1,id464757705,NaN,0,,Екатерина,0,0,1,,,Алексеева,,,https://pp.userapi.com/c841025/v841025451/5076...,1,464757705,[],0,,1
0,2.12,60,1,id271406478,NaN,NaN,NaN,Екатерина,20,NaN,1,,NaN,Конверова,,,https://pp.userapi.com/c840425/v840425518/4915...,1,271406478,NaN,NaN,NaN,1
0,18.3.1992,0,1,id152866937,NaN,NaN,NaN,Екатерина,37,NaN,1,5-1*-**,NaN,Ларионова-Багрова,89503167565,,https://pp.userapi.com/c316919/u152866937/e_07...,1,152866937,NaN,NaN,NaN,1
0,NaN,545,1,id142756141,NaN,0,,Екатерина,88,0,1,,зеленодольск,Ларионова,,,https://pp.userapi.com/c11505/u142756141/e_0c2...,1,142756141,[],0,,1
0,NaN,60,1,haysanova,NaN,NaN,NaN,Екатерина,496,NaN,1,NaN,NaN,Хайсанова,NaN,,https://pp.userapi.com/c836232/v836232397/4810...,1,38501461,NaN,NaN,NaN,1
0,NaN,60,1,id2975780,NaN,NaN,NaN,Владислав,48,NaN,1,NaN,NaN,Шаповалов,NaN,,https://pp.userapi.com/c636720/v636720780/2d6c...,2,2975780,NaN,NaN,NaN,1
0,17.7.1983,60,1,id8298072,NaN,7833,Инженерный химико-технологический институт,Владислав,40,0,1,NaN,,Шаповалов,NaN,"""kazan",https://pp.userapi.com/c9883/u8298072/e_fbacbe...,2,8298072,"[{'id': 526, 'country': 1, 'city': 60, 'name':...",526,"КНИТУ (бывш. КГТУ, КХТИ)",1
0,24.10.1997,1704716,65,rakhmatova_a,NaN,NaN,NaN,Анастасия,331,NaN,1,NaN,NaN,Рахматова,NaN,,https://pp.userapi.com/c824502/v824502193/4956...,1,56704175,NaN,NaN,NaN,1
0,15.6.1991,60,1,id196443070,NaN,26098,Институт пищевых производств и биотехнологии,Анастасия,21,2013,1,,,Лоскутова,89503226062,,https://pp.userapi.com/c409129/v409129070/1191...,1,196443070,"[{'id': 526, 'country': 1, 'city': 60, 'name':...",526,"КНИТУ (бывш. КГТУ, КХТИ)",1
0,15.6.1991,60,1,id65966774,NaN,NaN,NaN,Настя,99,NaN,1,NaN,NaN,Лоскутова,NaN,,https://pp.userapi.com/c424821/v424821774/3bc0...,1,65966774,NaN,NaN,NaN,1
0,15.6.1991,60,1,id464924161,NaN,0,,Анастасия,3,0,1,,,Лоскутова,,,https://pp.userapi.com/c841323/v841323465/52f1...,1,464924161,[],0,,1
0,NaN,60,1,id79296646,NaN,NaN,NaN,Анастасия,6,NaN,1,NaN,NaN,Савельева,NaN,,https://pp.userapi.com/c840527/v840527201/3de2...,1,79296646,NaN,NaN,NaN,1
0,20.9,60,1,gulfinurminnahmatovna,NaN,NaN,NaN,Гульфинур,760,NaN,1,NaN,NaN,Гарипова,NaN,,https://pp.userapi.com/c834301/v834301156/94bc...,1,94058716,NaN,NaN,NaN,1
0,24.9,73,1,id29030577,NaN,NaN,NaN,Настена,161,NaN,1,NaN,NaN,Козлова,NaN,,https://pp.userapi.com/c626420/v626420577/47fd...,1,29030577,NaN,NaN,NaN,1
0,NaN,60,1,anastasia_nevzgoda,NaN,NaN,NaN,Анастасия,123,NaN,1,,NaN,Невзгода,,,https://pp.userapi.com/c834202/v834202901/852c...,1,74294873,NaN,NaN,NaN,1
0,13.9.1984,60,1,id39542830,NaN,NaN,NaN,Александр,152,NaN,1,NaN,NaN,Баскунов,NaN,,https://pp.userapi.com/c638919/v638919587/4ca3...,2,39542830,NaN,NaN,NaN,1
0,29.12,60,1,anvabu,NaN,NaN,NaN,Анастасия,277,NaN,1,NaN,NaN,Бушенёва,NaN,,https://pp.userapi.com/c836535/v836535154/5251...,1,17189204,NaN,NaN,NaN,1
0,26.1,60,1,id25377389,NaN,NaN,NaN,Катерина,173,NaN,1,NaN,NaN,Аппакова,NaN,,https://pp.userapi.com/c837131/v837131389/2b0d...,1,25377389,NaN,NaN,NaN,1
0,30.1.1990,60,1,id92090360,NaN,NaN,NaN,Анастасия,248,NaN,1,NaN,NaN,Барнаева,NaN,,https://pp.userapi.com/c830509/v830509333/3835...,1,92090360,NaN,NaN,NaN,1
0,28.12,545,1,id52389447,NaN,NaN,NaN,Анастасия,91,NaN,1,,NaN,Малькова,890..............,,https://pp.userapi.com/c840225/v840225549/5f1a...,1,52389447,NaN,NaN,NaN,1
0,24.2.1989,60,1,fygyhy,Очное отделение,317881,,Александр,44,2009,1,NaN,Тюмень,Муравьев,NaN,FYGYHY,https://pp.userapi.com/c627425/v627425062/30dc...,2,88359062,"[{'id': 862, 'country': 1, 'city': 60, 'name':...",862,ТюмГНГУ,1