In [5]:
import pyodbc
import pandas as pd
import os
import vk as vk_lib
import pandas as pd
from time import sleep
import sys
from dotmap import DotMap
##Connection settings
cnxn = pyodbc.connect(u"Driver={ODBC Driver 13 for SQL Server};"
                      u"Server=rumskgsh7nz1\sqldev;"
                      u"Database=RadarSN;"
                      "Trusted_Connection=yes")
ProjectId = input("What's project's number or (id)? ")
print("OK: " + ProjectId )

#'%s', '%s', '%s', '%s')" % (FirstLastNam

sql = "select * from TblPersonToSearch where statusidvk='0' and projectid=('%s')" %(ProjectId)
df = pd.read_sql(sql, cnxn)
#sql = "select * from TblPersonToSearch where statusid='0'"
#project_id = 
df.head()

What's project's number or (id)? 2036
OK: 2036

,Id,FirstLastName,DayOfBirth,MonthOfBirth,YearOfMonth,Region,StatusIdVk,ProjectId,StatusIdOk
0,31,Валентина Митюшкина,22,12,1975,Казань,0,2036,0
1,32,Валентина Кузнецова,13,3,1962,Казань,0,2036,0
2,33,Екатерина Зимнякова,12,5,1988,Казань,0,2036,0
3,34,Александр Прокопьев,18,6,1959,Казань,0,2036,0
4,35,Викторина Дегтярева,12,5,1975,Казань,0,2036,0

In [6]:
vk = DotMap()
vk.ID = 6302346 
vk.redirect_uri='https://oauth.vk.com/blank.html'
vk.scope='friends,photos,audio,video,docs,notes,pages,status,wall,groups,messages,notifications,offline'
vk.access_token='946dc8a1a740af9ebbbe62ecdd40af070b05d44828226dad5136cef4166057c22b935ebee922ad2426b39'
vk.user_id=215762574
vk.session = vk_lib.Session(access_token=vk.access_token)
vk.api = vk_lib.API(vk.session)
vk.api.users.get()
fields_list=['nickname', 'domain', 'sex', 'bdate', 'city', 'country', 'timezone', 'photo_50',
             'has_mobile', 'contacts', 'education','universities','followers_count','home_town'
            ,'exports']

In [3]:
def SearchPerson (name,bday,bmonth,byear):
    return vk.api.users.search(q=name,
                               fields=fields_list,
                               sort=0,
                               count=30,
                               birth_day=bday,
                              birth_month=bmonth,
                              birth_year=byear)

In [5]:
%%time
result = pd.DataFrame(columns=['index','PersonName','SearchResult'])
tmp_col = ['city', 'country', 'domain', 'faculty', 'faculty_name', 'first_name',
       'followers_count', 'graduation', 'has_mobile', 'home_town', 'last_name',
       'nickname', 'photo_50', 'sex', 'uid', 'universities', 'university',
       'university_name']
tmp = pd.DataFrame(columns = tmp_col)
df_fr_list_col = ['PersonName', 'PersonLink', 'FriendName', 'FriendLink']
df_frend_list = pd.DataFrame(columns = df_fr_list_col)

df = pd.read_sql(sql, cnxn)
limit = 30
step = 10
gen_sleep = 5

df = df.iloc[0:limit]

df_ind_range = list(range(0,df.shape[0],step))
df_ind_range.append(df.shape[0])
for i in range(0,len(df_ind_range)-1):
    print('iteration - ',i)
    
    for j in range(0,len(df.iloc[df_ind_range[i]:df_ind_range[i+1]])):
        #print(' iteration - ',j)
        df_tmp = df.iloc[df_ind_range[i]:df_ind_range[i+1]]
        a=[]
        a = SearchPerson(df_tmp.iloc[j]['FirstLastName'],
        df_tmp.iloc[j]['DayOfBirth'],
        df_tmp.iloc[j]['MonthOfBirth'],
        df_tmp.iloc[j]['YearOfMonth'])
        if len(a)>1:
            print (j, df_tmp.iloc[j]['FirstLastName'],"founded")
            #a3.set_value(i,'index',i)
            result.set_value(i*step+j,'PersonName',df_tmp.iloc[j]['FirstLastName'])
            result.set_value(i*step+j,'SearchResult',len(a)-1)
            for k in range(1,len(a)):
                
                tmp_a_k = pd.DataFrame([a[k]], columns=a[k].keys())
                tmp_a_k['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                tmp_a_k['Count'] = str(len(a)-1)
                
                tmp = tmp.append(tmp_a_k)
                q = pd.DataFrame([a[k]], columns=a[k].keys())['uid'][0]
                df_fr_list_tmp = vk.api.friends.get(user_id=str(int(q)), fields=['nickname'])
                df_fr_list_tmp = pd.DataFrame(df_fr_list_tmp)
                if df_fr_list_tmp.shape[0]>0:
                    #df_fr_list_tmp['FirstLastName'] = df_tmp['FirstLastName'].iloc[0]
                    df_fr_list_tmp['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                    df_fr_list_tmp['Count'] = str(len(a)-1)
                    df_fr_list_tmp['FirstLastNameInVk'] = pd.DataFrame([a[k]])['first_name'][0] + ' ' + pd.DataFrame([a[k]])['last_name'][0]
                    df_fr_list_tmp['PersonLink'] = 'vk.com/' + pd.DataFrame([a[k]])['domain'][0]
                    df_fr_list_tmp['FriendLink'] = df_fr_list_tmp['user_id']
                    df_fr_list_tmp['FriendName'] = df_fr_list_tmp['first_name'] + ' ' + df_fr_list_tmp['last_name']
                    df_fr_list_tmp = df_fr_list_tmp[['FirstLastName','Count','FirstLastNameInVk','PersonLink','FriendName','FriendLink']]
                    df_frend_list = df_frend_list.append(df_fr_list_tmp)
                else:
                    #df_fr_list_tmp['FirstLastName'] = df_tmp['FirstLastName'].iloc[0]
                    df_fr_list_tmp['FirstLastName'] = str(df_tmp.iloc[j]['FirstLastName'])
                    df_fr_list_tmp['Count'] = str(len(a)-1)
                    df_fr_list_tmp['FirstLastNameInVk'] = pd.DataFrame([a[k]])['first_name'][0] + ' ' + pd.DataFrame([a[k]])['last_name'][0]
                    df_fr_list_tmp['PersonLink'] = 'vk.com/' + pd.DataFrame([a[k]])['domain'][0]
                    df_fr_list_tmp['FriendLink'] = 'NO FRIEND'
                    df_fr_list_tmp['FriendName'] = 'NO FRIEND'
                    df_fr_list_tmp = df_fr_list_tmp[['FirstLastName','Count','FirstLastNameInVk','PersonLink','FriendName','FriendLink']]
                    df_frend_list = df_frend_list.append(df_fr_list_tmp)
                    
        else:
            print (j, df_tmp.iloc[j]['FirstLastName'],"can't find")
            result.set_value(i*step+j,'PersonName',df_tmp.iloc[j]['FirstLastName'])
            result.set_value(i*step+j,'SearchResult',len(a)-1)
        sleep(1.0)
    sleep(gen_sleep)

result = result[['PersonName','SearchResult']]
tmp_db = result.merge(df, left_on='PersonName', right_on = 'FirstLastName')

iteration -  0
0 Коста Феррейра Да can't find

C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:68: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:69: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

1 Мухаметтакий Ахметзянов founded

C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:33: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\mkhamzanov\AppData\Local\Continuum\miniconda3\lib\site-packages\ipykernel_launcher.py:34: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

2 Александра Гурьянова founded
3 Александра Берстнева founded
4 Александра Бугарчева founded
5 Александра Романова founded
6 Хаджимурат Газалиев founded
7 Константин Хасанов founded
8 Александра Грачева can't find
9 Константин Рожков can't find
iteration -  1
0 Гаптелфарт Валиев can't find
1 Габдельнур Хузыйф can't find
2 Александра Юрк can't find
3 Екатерина Губайдуллина founded
4 Анастасия Барнуковская founded
5 Станислав Шарафутдинов can't find
6 Александр Александров can't find
7 Гульчачак Искандарова can't find
8 Александр Белобородов founded
9 Екатерина Пастушкова founded
iteration -  2
0 Александр Ярославлев can't find
1 Александр Спиридонов founded
2 Александр Ладейщиков founded
3 Екатерина Чиглинцева can't find
4 Александр Загидуллин can't find
5 Анастасия Андронова founded
6 Александр Евстратов can't find
7 Екатерина Богданова founded
8 Валентина Сахабеева can't find
9 Валентина Филиппова founded
Wall time: 1min 6s

In [14]:
for i in range(0,len(tmp_db)):
    #print(tmp_db['SearchResult'].iloc[i])
    if tmp_db['SearchResult'].iloc[i]==1:
        tmp_sql = str("update TblPersonToSearch set StatusIdVk='2' where FirstLastName= ") + str("'")+str(tmp_db.iloc[i]['PersonName'])+ str("'")
        cursor = cnxn.cursor()
        cursor.execute(tmp_sql)
        cnxn.commit()
    else:
        tmp_sql = str("update TblPersonToSearch set StatusIdVk='1' where FirstLastName= ") + str("'")+str(tmp_db.iloc[i]['PersonName'])+ str("'")
        cursor = cnxn.cursor()
        cursor.execute(tmp_sql)
        cnxn.commit()

In [15]:
tmp['ProjectId'] = '%s' % ProjectId
df_frend_list['ProjectId'] = '%s' % ProjectId

In [10]:
%%time
for i in range(0,len(df_frend_list)):
    FirstLastName = str(df_frend_list['FirstLastName'].iloc[i])
    FirstLastNameInVk = str(df_frend_list['FirstLastNameInVk'].iloc[i])
    PersonLink = str(df_frend_list['PersonLink'].iloc[i])
    FriendName = (str(df_frend_list['FriendName'].iloc[i])).replace("'","")
    FriendLink = str(df_frend_list['FriendLink'].iloc[i])
    sql = "insert into dbo.tblFriendListVk ([ProjectId],[FirstLastName],[FirstLastNameInVk],[PersonLink],[FriendName],[FriendLink]) VALUES('%s','%s', '%s','%s', '%s', '%s')" % (ProjectId,FirstLastName, FirstLastNameInVk,PersonLink , FriendName, FriendLink)
    cursor.execute(sql)
    cnxn.commit()

Wall time: 3min 20s

In [11]:
sql

"insert into dbo.tblFriendList ([ProjectId],[FirstLastName],[FirstLastNameInVk],[PersonLink],[FriendName],[FriendLink]) VALUES('1','Екатерина Петрова', 'Катерина Петрова','vk.com/bloodyhellwhereismytea', 'Юлия Холод', '421720341')"

In [11]:
##tblGeneralInfoAboutFoudedPeople
#
for i in range(0,len(tmp)):
    FirstLastName = (str(tmp['FirstLastName'].iloc[i])).replace("'","")
    CountPeople = (str(tmp['Count'].iloc[i])).replace("'","")
    FirstLastNameInVk = (str(tmp['first_name'].iloc[i] + ' '+ tmp['last_name'].iloc[i])).replace("'","")
    BDate = (str(tmp['bdate'].iloc[i])).replace("'","")
    Sex = (str(tmp['sex'].iloc[i])).replace("'","")
    UniversityName = (str(tmp['university_name'].iloc[i])).replace("'","")
    EducationForm = (str(tmp['education_form'].iloc[i])).replace("'","")
    EducationStatus = (str(tmp['education_form'].iloc[i])).replace("'","")
    FacultyName = (str(tmp['faculty_name'].iloc[i])).replace("'","")
    FollowersCount = (str(tmp['followers_count'].iloc[i])).replace("'","")
    Graduation = (str(tmp['graduation'].iloc[i])).replace("'","")
    HomeTown = (str(tmp['home_town'].iloc[i])).replace("'","")
    UserId = (str(tmp['uid'].iloc[i])).replace("'","")
    sql = "insert into dbo.tblPersonGeneralInfoVk (ProjectId,FirstLastName,CountPeople,FirstLastNameInVk,BDate ,Sex ,UniversityName ,EducationForm ,EducationStatus ,FacultyName ,FollowersCount ,Graduation ,HomeTown ,UserId) VALUES('%s','%s','%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s', '%s')" % (ProjectId,FirstLastName,CountPeople,FirstLastNameInVk,BDate ,Sex ,UniversityName ,EducationForm ,EducationStatus ,FacultyName ,FollowersCount ,Graduation ,HomeTown ,UserId)
    cursor.execute(sql)
    cnxn.commit()

In [12]:
tmp

,Count,FirstLastName,bdate,city,country,domain,education_form,education_status,faculty,faculty_name,...,last_name,mobile_phone,nickname,photo_50,sex,uid,universities,university,university_name,ProjectId
0,1,Мухаметтакий Ахметзянов,5.1.1947,60,1,id132044413,Очно-заочное отделение,NaN,0,,...,Ахметзянов,,,https://pp.userapi.com/c626126/v626126413/2670...,2,132044413,"[{'id': 530, 'country': 1, 'city': 60, 'name':...",530,КГЭУ\r\n,2036
0,1,Александра Гурьянова,18.6,0,1,guryanova.alexandra,Очное отделение,Выпускница (специалист),15598,"Институт экономики, управления и социальных те...",...,Гурьянова,NaN,,https://pp.userapi.com/c630228/v630228728/175a...,1,8230728,"[{'id': 525, 'country': 1, 'city': 0, 'name': ...",525,КНИТУ-КАИ им. А. Н. Туполева,2036
0,1,Александра Берстнева,13.7.1994,23,1,id24108234,NaN,NaN,NaN,NaN,...,Набутовская-Берстнева,NaN,,https://pp.userapi.com/c841023/v841023923/b9d8...,1,24108234,NaN,NaN,NaN,2036
0,1,Александра Бугарчева,28.4.1984,60,1,eu1984,NaN,NaN,0,,...,Бугарчёва,NaN,,https://pp.userapi.com/c631131/v631131531/4960...,1,172591531,[],0,,2036
0,1,Александра Романова,1.12,60,1,a.shikut,NaN,NaN,NaN,NaN,...,Романова,NaN,,https://pp.userapi.com/c618428/v618428782/1f96...,1,7338782,NaN,NaN,NaN,2036
0,1,Хаджимурат Газалиев,10.7.1981,85,1,id5594891,NaN,NaN,NaN,NaN,...,Газалиев,NaN,,https://pp.userapi.com/c4112/u5594891/e_60a1ac...,2,5594891,NaN,NaN,NaN,2036
0,1,Константин Хасанов,NaN,60,1,id19706803,NaN,NaN,NaN,NaN,...,Хасанов,NaN,,https://vk.com/images/camera_50.png,2,19706803,NaN,NaN,NaN,2036
0,1,Екатерина Губайдуллина,1.5.1988,60,1,id41382822,NaN,NaN,NaN,NaN,...,Губайдуллина,NaN,,https://pp.userapi.com/c841539/v841539925/49fa...,1,41382822,NaN,NaN,NaN,2036
0,1,Анастасия Барнуковская,17.6,60,1,anastasia_miami,NaN,NaN,NaN,NaN,...,Барнуковская,NaN,,https://pp.userapi.com/c636919/v636919403/5b43...,1,42564403,NaN,NaN,NaN,2036
0,1,Александр Белобородов,28.1.1989,0,1,octopuskun,NaN,NaN,NaN,NaN,...,Белобородов,NaN,,https://pp.userapi.com/c631427/v631427011/1af0...,2,14460011,NaN,NaN,NaN,2036
0,1,Екатерина Пастушкова,NaN,0,1,id60068727,NaN,NaN,NaN,NaN,...,Пастушкова,,,https://pp.userapi.com/c633131/v633131727/166f...,1,60068727,NaN,NaN,NaN,2036
0,1,Александр Спиридонов,27.2.1965,60,1,id300278219,NaN,NaN,0,,...,Спиридонов,,,https://pp.userapi.com/c604727/v604727219/4a65...,2,300278219,[],0,,2036
0,1,Александр Ладейщиков,28.6.1963,60,1,id229830633,NaN,NaN,0,,...,Ладейщиков,,,https://vk.com/images/camera_50.png,2,229830633,[],0,,2036
0,1,Анастасия Андронова,14.10.1980,60,1,id175844845,NaN,NaN,0,,...,Андронова,,,https://pp.userapi.com/c309322/v309322845/8b5a...,1,175844845,[],0,,2036
0,1,Екатерина Богданова,27.7,60,1,id82663352,NaN,NaN,NaN,NaN,...,Богданова,NaN,,https://pp.userapi.com/c629411/v629411352/2a24...,1,82663352,NaN,NaN,NaN,2036
0,1,Валентина Филиппова,NaN,60,1,id92248158,NaN,NaN,NaN,NaN,...,Филиппова,NaN,,https://pp.userapi.com/c630528/v630528158/1efa...,1,92248158,NaN,NaN,NaN,2036

In [13]:
tmp

,Count,FirstLastName,bdate,city,country,domain,education_form,education_status,faculty,faculty_name,...,last_name,mobile_phone,nickname,photo_50,sex,uid,universities,university,university_name,ProjectId
0,1,Мухаметтакий Ахметзянов,5.1.1947,60,1,id132044413,Очно-заочное отделение,NaN,0,,...,Ахметзянов,,,https://pp.userapi.com/c626126/v626126413/2670...,2,132044413,"[{'id': 530, 'country': 1, 'city': 60, 'name':...",530,КГЭУ\r\n,2036
0,1,Александра Гурьянова,18.6,0,1,guryanova.alexandra,Очное отделение,Выпускница (специалист),15598,"Институт экономики, управления и социальных те...",...,Гурьянова,NaN,,https://pp.userapi.com/c630228/v630228728/175a...,1,8230728,"[{'id': 525, 'country': 1, 'city': 0, 'name': ...",525,КНИТУ-КАИ им. А. Н. Туполева,2036
0,1,Александра Берстнева,13.7.1994,23,1,id24108234,NaN,NaN,NaN,NaN,...,Набутовская-Берстнева,NaN,,https://pp.userapi.com/c841023/v841023923/b9d8...,1,24108234,NaN,NaN,NaN,2036
0,1,Александра Бугарчева,28.4.1984,60,1,eu1984,NaN,NaN,0,,...,Бугарчёва,NaN,,https://pp.userapi.com/c631131/v631131531/4960...,1,172591531,[],0,,2036
0,1,Александра Романова,1.12,60,1,a.shikut,NaN,NaN,NaN,NaN,...,Романова,NaN,,https://pp.userapi.com/c618428/v618428782/1f96...,1,7338782,NaN,NaN,NaN,2036
0,1,Хаджимурат Газалиев,10.7.1981,85,1,id5594891,NaN,NaN,NaN,NaN,...,Газалиев,NaN,,https://pp.userapi.com/c4112/u5594891/e_60a1ac...,2,5594891,NaN,NaN,NaN,2036
0,1,Константин Хасанов,NaN,60,1,id19706803,NaN,NaN,NaN,NaN,...,Хасанов,NaN,,https://vk.com/images/camera_50.png,2,19706803,NaN,NaN,NaN,2036
0,1,Екатерина Губайдуллина,1.5.1988,60,1,id41382822,NaN,NaN,NaN,NaN,...,Губайдуллина,NaN,,https://pp.userapi.com/c841539/v841539925/49fa...,1,41382822,NaN,NaN,NaN,2036
0,1,Анастасия Барнуковская,17.6,60,1,anastasia_miami,NaN,NaN,NaN,NaN,...,Барнуковская,NaN,,https://pp.userapi.com/c636919/v636919403/5b43...,1,42564403,NaN,NaN,NaN,2036
0,1,Александр Белобородов,28.1.1989,0,1,octopuskun,NaN,NaN,NaN,NaN,...,Белобородов,NaN,,https://pp.userapi.com/c631427/v631427011/1af0...,2,14460011,NaN,NaN,NaN,2036
0,1,Екатерина Пастушкова,NaN,0,1,id60068727,NaN,NaN,NaN,NaN,...,Пастушкова,,,https://pp.userapi.com/c633131/v633131727/166f...,1,60068727,NaN,NaN,NaN,2036
0,1,Александр Спиридонов,27.2.1965,60,1,id300278219,NaN,NaN,0,,...,Спиридонов,,,https://pp.userapi.com/c604727/v604727219/4a65...,2,300278219,[],0,,2036
0,1,Александр Ладейщиков,28.6.1963,60,1,id229830633,NaN,NaN,0,,...,Ладейщиков,,,https://vk.com/images/camera_50.png,2,229830633,[],0,,2036
0,1,Анастасия Андронова,14.10.1980,60,1,id175844845,NaN,NaN,0,,...,Андронова,,,https://pp.userapi.com/c309322/v309322845/8b5a...,1,175844845,[],0,,2036
0,1,Екатерина Богданова,27.7,60,1,id82663352,NaN,NaN,NaN,NaN,...,Богданова,NaN,,https://pp.userapi.com/c629411/v629411352/2a24...,1,82663352,NaN,NaN,NaN,2036
0,1,Валентина Филиппова,NaN,60,1,id92248158,NaN,NaN,NaN,NaN,...,Филиппова,NaN,,https://pp.userapi.com/c630528/v630528158/1efa...,1,92248158,NaN,NaN,NaN,2036